@using AlloyAdvanced.Features.UserNotifications
@using AlloyAdvanced.Models.ViewModels
@model PageViewModel<SendNotificationPage>
<div class="row">
    <div class="span12">
        @if (ViewData["messageSent"] != null)
        {
            <div class="alert alert-success">
                @ViewData["messageSent"]
            </div>
        }
        <form action="@Url.ContentUrl(Model.CurrentPage.ContentLink)" method="post" class="form-horizontal">
            <h3>Send notification on @AlloyAdvanced.Global.NotificationChannel channel</h3>
            <div>
                From: <select name="from">
                    @foreach (string name in ViewData["users"] as string[])
                    {
                        <option value="@name">@name</option>
                    }
                </select>
            </div>
            <div>
                To: <input name="to" />
                <small>
                    Separate user names with semi-colons:
                    @foreach (string name in ViewData["users"] as string[])
                    {
                        <span class="label label-info">@name</span>
                    }
                </small>
            </div>
            <div>Subject: <input name="subject" /></div>
            <div>Content: <textarea name="content" rows="4" cols="30"></textarea></div>
            <div>
                URI: <input name="uri" />
                <small>For example, http://localhost:12345/en/about-us </small>
            </div>
            <div><input type="radio" name="when" checked="checked" />Immediately</div>
            <div><input type="radio" name="when" />At <input name="whenDateTime" /></div>
            <div><input type="radio" name="when" />In <input name="whenDelay" /> minutes</div>
            <div><input type="submit" value="Send" /></div>
        </form>
    </div>
</div>