@model CommentsPageViewModel
@{
    Layout = "~/Views/Shared/Layouts/_LeftNavigation.cshtml";
}
<h1 @Html.EditAttributes(x => x.CurrentPage.PageName)>@Model.CurrentPage.PageName</h1>
<p class="introduction" @Html.EditAttributes(x => x.CurrentPage.MetaDescription)>@Model.CurrentPage.MetaDescription</p>
<div class="row">
    <div class="span8 clearfix" @Html.EditAttributes(x => (x.CurrentPage as ArticlePage).MainBody)>
        @Html.DisplayFor(x => (x.CurrentPage as ArticlePage).MainBody)
    </div>
</div>
@Html.PropertyFor(x => (x.CurrentPage as ArticlePage).MainContentArea, new { CssClass = "row", Tag = AlloyAdvanced.Global.ContentAreaTags.TwoThirdsWidth })

<!--start of commenting functionality-->
<div class="row">
    @if (Model.StartPageHasCommentsFolder)
    {
        if (Model.ThisPageHasAtLeastOneComment)
        {
            <div class="span8">
                <h3>Comments <small><a href="?orderBy=ASC">Ascending</a> <a href="?orderBy=DESC">Descending</a></small></h3>
                @foreach (var c in Model.Comments)
                {
                    Html.RenderPartial("CommentBlock", c);
                }
            </div>
        }
        else
        {
            <div class="alert alert-info">
                There are no comments on this article.
            </div>
        }

        if (Model.CurrentUserCanAddComments)
        {
            <div class="span8">
            @using (Html.BeginForm("AddComment", null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <p class="introduction">What do you think? Write a comment!</p>
                <div class="control-group">
                    <input class="span4" type="text" name="commentName" id="commentName" placeholder="Enter your name (optional)" />
                </div>
                <div class="control-group">
                    <textarea class="span6" name="commentText" id="commentText" placeholder="Enter your comment"></textarea>
                </div>
                <div class="control-group">
                    <button type="submit" class="btn">Add Comment</button>
                </div>
            }
            </div>
        }
        else
        {
            <div class="alert alert-info">
                <strong>Note</strong> If you would like to comment, ask the site administrator to give you
                publish rights to the site comments folder or to the comments folder for this page.
            </div>
        }
    }
    else
    {
        if (EPiServer.Editor.PageEditing.PageIsInEditMode)
        {
            <div class="alert alert-info">
                <p>The Start page does not have a comments folder.</p>
                <ol>
                    <li>Create a folder in the blocks folder: For This Site.</li>
                    <li>Assign Publish rights to roles and users to that folder to enable commenting on any page.</li>
                    <li>Edit the Start page.</li>
                    <li>Switch to All Properties view.</li>
                    <li>Select the Comments folder.</li>
                    <li>Publish the Start page.</li>
                </ol>
                <p>
                    After commenting on a page, a subfolder is automatically created. Assign Publish rights to these
                    subfolders to enable users to add comments ONLY to that page.
                </p>
            </div>
        }
    }
</div>
